.navbar{
    background:white;
    border-bottom:1px solid #ddd;
    display:flex;
    justify-content:center;
    gap:40px;
    padding:20px;
    position:sticky;
    top:0;
}

.navbar a{
    text-decoration:none;
    color:#2c3e50;
    font-size:18px;
    font-weight:bold;
}

.navbar a:hover{
    color:#0077b6;
}
